@inject AdminManager manager
@inject NavigationManager navManager

<ConfirmDialog @ref="dialog"></ConfirmDialog>

<h3>Create a segment: </h3>

<EditForm Model="segment" OnSubmit="HandleSubmit" FormName="name" class="card w-50">

    <label>
        Name
    </label>

    <InputText @bind-Value="segment.Name"></InputText>

    <label>
        Description
    </label>

    <InputText @bind-Value="segment.Description"></InputText>

    <label>
        Category:
    </label>

    <InputSelect @bind-Value="segment.CategoryId">
        <option>None</option>
        @foreach (var category in Categories)
        {
            <option value="@category.Id">@category.Name</option>
        }
    </InputSelect>

    <br />
    <input class="btn btn-info" type="submit" value="Create a segment" />

</EditForm>


@code {
    [SupplyParameterFromForm]
    public SegmentModel segment { get; set; } = new();

    [Parameter]
    public List<CategoryModel> Categories { get; set; } = new();

    private ConfirmDialog dialog;

    // Action that tells the parent component to update when invoked
    [Parameter]
    public Action? OnAdd { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Categories = await manager._categoryRepository.GetAllCategoriesAsync();
    }

    private async Task HandleSubmit()
    {

        var confirmation = await dialog.ShowAsync(

           title: "Are you sure you want to add?",
           message1: "Y/N"
       );

        if (confirmation)
        {
            await manager._segmentRepository.AddSegmentAsync(segment);
            navManager.NavigateTo("Admin/Segment/SegmentPage", true);

        }

      
    }

}
