@inject AdminManager manager
@inject NavigationManager navManager

<ConfirmDialog @ref="dialog"></ConfirmDialog>

<div class="container">

        <div class="row">

            <div class="col-sm">

            <h3>Create a Question</h3>

            <EditForm Model="Question" OnSubmit="HandleSubmit" FormName="QuestionForm" Context="ArbitraryConceptualName" class="card w-50">

                <label>Question: </label>

                <InputText @bind-Value="Question.Question"></InputText>

                <label>Explanation: </label>

                <InputText @bind-Value="Question.Explanation"></InputText>

                <label>
                    Subcategory:
                </label>

                <InputSelect @bind-Value="Question.SubCategoryId">
                    <option>None</option>
                    @foreach (var subcategory in SubCategories)
                    {
                        <option value="@subcategory.Id">@subcategory.Name</option>
                    }
                </InputSelect>

                <EditForm Model="Answer" FormName="AnswerForm" OnSubmit="HandleAnswerSubmit">

                    <label>Answer: </label>

                    <InputText @bind-Value="Answer.Answer"></InputText>

                    <label>Correct answer</label>

                    <InputCheckbox @bind-Value="Answer.IsCorrect"></InputCheckbox>

                    <br />

                    <input class="btn btn-info" type="submit" value="Add answer" />

                </EditForm>

                <br />

                <input class="btn btn-info" type="submit" value="Create a question" />


            </EditForm>

           
            @if (CorrectAnswerHide == false)
            {
                <br />
                <Alert Color="AlertColor.Danger" id="myAlert">
                    <strong>Please add a correct answer</strong>  <Button Color="ButtonColor.Light" @onclick="ToggleCorrectHide">Close</Button>
                </Alert>


            }

            @if (MultipleCorrectAnswersHide == false)
            {
                <br />
                <Alert Color="AlertColor.Danger" id="myAlert">
                    <strong>Only 1 correct answer allowed</strong>  <Button Color="ButtonColor.Light" @onclick="ToggleMultipleCorrectHide">Close</Button>
                </Alert>

            }

            </div>

        <div class="col-sm">    

            <h4>Answers: </h4>

            @if (QuestionAnwers.Any())
            {
                <div class="container">

                    <div class="row">

                        <div class="col-sm">

                            @foreach (var answer in QuestionAnwers)
                            {
                                <h5>@answer.Answer</h5>

                                @if (answer.IsCorrect)
                                {
                                    <p style="color:green">Correct answer</p>
                                }
                            }

                        </div>

                    </div>

                </div>

            }
             </div>
        </div>

</div>

 
@code {

    [SupplyParameterFromForm(FormName ="QuestionForm")]
    public QuestionModel Question { get; set; } = new();

    private AnswerModel Answer { get; set; } = new();

    public List<AnswerModel> QuestionAnwers { get; set; } = new();

    private List<SubCategoryModel> SubCategories { get; set; } = new();

    private ConfirmDialog dialog;

    private bool CorrectAnswerHide { get; set; } = true;

    private bool MultipleCorrectAnswersHide { get; set; } = true;


    protected override async Task OnInitializedAsync()
    {
        SubCategories = await manager._subcategoryRepository.GetSubCategoriesAsync();
    }

    private async Task HandleSubmit()
    {
        var confirmation = await dialog.ShowAsync(

         title: "Are you sure you want to add this question?",
         message1: "Y/N"
     );

        if (confirmation)
        {
            bool noCorrectAnswer = true;

            // Checks if there any correct answers in the answers list
            foreach(var answer in QuestionAnwers)
            {
                if(answer.IsCorrect == true)
                {
                    noCorrectAnswer = false;
                }
            }

            // If there are no correct answers, show error alert
            if (noCorrectAnswer)
            {
                CorrectAnswerHide = false;
            }

            else
            {
                foreach (var answer in QuestionAnwers)
                {
                    Question.Answers.Add(answer);
                }

                await manager._questionRepository.AddQuestionAsync(Question);
                navManager.NavigateTo("Admin/Question/Questionpage", true);
            }

        }
    }

    private async Task HandleAnswerSubmit()
    {
        var confirmation = await dialog.ShowAsync(

        title: "Are you sure you want to add this answer?",
        message1: "Y/N"
    );

        if (confirmation)
        {
            // Check if there already are correct answers in the list
            if (QuestionAnwers.Any())
            {
                foreach (var answer in QuestionAnwers)
                {
                    if (Answer.IsCorrect && answer.IsCorrect)
                    {
                        // Show error alert
                        MultipleCorrectAnswersHide = false;
                    }
                    else
                    {
                        AnswerModel newAnswer = new()
                            {
                                Answer = Answer.Answer,
                                IsCorrect = Answer.IsCorrect
                            };

                        QuestionAnwers.Add(newAnswer);
                        break;
                    }
                }
            }
            else
            {
                AnswerModel newAnswer = new()
                    {
                        Answer = Answer.Answer,
                        IsCorrect = Answer.IsCorrect
                    };

                QuestionAnwers.Add(newAnswer);
            }
           
        }
    }

    private void ToggleCorrectHide()
    {
        CorrectAnswerHide = true;
    }

    private void ToggleMultipleCorrectHide()
    {
        MultipleCorrectAnswersHide = true;
    }

}