@page "/counter"
@using ValhallaVaultCyberAwareness.Client.Services
@using ValhallaVaultCyberAwareness.Domain.Models
@rendermode InteractiveAuto
@inject ICategoryService categoryService;
@inject ISegmentService segmentService;
@inject IQuestionService questionService

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override async Task OnInitializedAsync()
    {
        //TEST CALL
        // List<CategoryModel> allCategories = await categoryService.GetAllCategoriesAsync();
        List<SegmentModel> allSegments = await segmentService.GetSegmentsByCategoryIdAsync(1);
        // var category = await categoryService.GetCategoryByIdAsync(1);
        // SegmentModel segment = await segmentService.GetSegmentByIdAsync(1);
<<<<<<< HEAD

        List<QuestionModel> allQuestions = await questionService.GetAllQuestionsBySubCategoryId(1); 

=======
>>>>>>> 9540c0455d63f460df93114cbd7f1155285c7b1f
        // bool isAdded = await segmentService.AddSegmentAsync(new SegmentModel()
        //     {
        //         Name = "Test segment",
        //         Description = "Test segment description",
        //         CategoryId = 1
        //     });
    }
}
