@page "/SubCategory/{segmentId:int}"
@using ValhallaVaultCyberAwareness.Client.Services
@using ValhallaVaultCyberAwareness.Domain.Models

@inject ISubCategoryService SubCategoryService
@inject IQuestionService QuestionService

@if (SubCategories == null)
{
    <p>Loading...</p>
}
else
{
    <!--

        TO BE DELETED?!

    -->
    <div id="frontPage" class="row">
        @foreach (var SubCategoryItem in SubCategories)
        {
            <div class="col-3 mt-3">
                <div class="card border-dark text-center w-100">
                    <div class="card-body">
                        <h5 class="card-title">@SubCategoryItem.Name</h5>
                        <p>@SubCategoryItem.Description</p>
                    </div>
                    <a href="@($"https://localhost:7107/quiz/{SubCategoryItem.Id}")" class="stretched-link"></a>
                </div>
            </div>
        }    
    </div>
}



@code
{
    [Parameter]
    public int SegmentId { get; set; }

    private List<SubCategoryModel>? SubCategories;

    protected override async Task OnInitializedAsync()
    {
        // SubCategories = await SubCategoryService.GetSubCategoriesBySegmentIdAsync(SegmentId);
    }
}