@inject AdminManager manager

<ConfirmDialog @ref="dialog"></ConfirmDialog>

<EditForm Model="Answer" OnSubmit="HandleSubmit" FormName="Name" class="card w-50">

    <label>
        Answer
    </label>

    <InputText @bind-Value="Answer.Answer"></InputText>

    <label>Correct answer</label>

    <InputCheckbox @bind-Value="Answer.IsCorrect"></InputCheckbox>

    <input class="btn btn-info" type="submit" value="Update" />

</EditForm>


@code {
    [Parameter]
    public AnswerModel Answer { get; set; } = new();

    private ConfirmDialog dialog;

    [Parameter]
    public List<AnswerModel> QuestionAnswers { get; set; } = new();

    [Parameter]
    public Action? OnUpdate { get; set; }

    [Parameter]
    public Action? OnError { get; set; }



    private async Task HandleSubmit()
    {
        var confirmation = await dialog.ShowAsync(

         title: "Are you sure you want to update this answer?",
         message1: "Y/N"
     );

        if (confirmation)
        {
            int correctAnswers = 0;

            foreach(var answer in QuestionAnswers)
            {
                if (answer.IsCorrect)
                {
                    correctAnswers++;
                }
            }

            if(correctAnswers == 0 || correctAnswers > 1)
            {
                OnError.Invoke();
            }
            else
            {
                await manager._answersRepository.UpdateAnswerAsync(Answer);
                OnUpdate.Invoke();

            }

        }
    }

    }
}