@page "/Admin/SubCategory/SubCategoryPage"
@attribute [Authorize(Roles = "Admin")]
@rendermode InteractiveServer
@inject AdminManager manager

@if(Subcategories.Any())
{
     <div class="container">

        <div class="row">

           <div class="col-sm subcategory">

                <h3>Subcategories: </h3>

                @foreach (var subCategory in Subcategories)
                {
                    <SubCategory CurrentSubCategory="subCategory" OnDelete=" async () => await OnChange()"></SubCategory>
                }

           </div>

           <div class="col-sm">
                <AddSubCategoryForm OnAdd="async () => await OnChange()"></AddSubCategoryForm>
            </div>

        </div>

    </div>
}
else
{
    <h3>Loading...</h3>
}

@code {
    List<SubCategoryModel> Subcategories = new();

    List<SegmentModel> Segments = new();

    protected override async Task OnInitializedAsync()
    {
        Subcategories = await manager._subcategoryRepository.GetSubCategoriesWithIncludeAsync();
    }

    // Gets the new list of subcategories and calls statehaschanged to refresh the page
    private async Task OnChange()
    {
        Subcategories = await manager._subcategoryRepository.GetSubCategoriesWithIncludeAsync();
        StateHasChanged();
    }
}

<style>

    h3 {
        font-weight: bold;
    }

    .container {
        font-family: 'Trebuchet MS';
    }

</style>