@inject AdminManager manager
@inject NavigationManager navManager

<ConfirmDialog @ref="dialog"></ConfirmDialog>


<h3>Create a category</h3>

<EditForm Model="Category" OnSubmit="HandleSubmit" FormName="Name" class="card w-50">

    <label>
        Name
    </label>

    <InputText @bind-Value="Category.Name"></InputText>

    <label>
        Description
    </label>

    <InputText @bind-Value="Category.Description"></InputText>

    <input class="btn btn-info" type="submit" value="Create a category" />

</EditForm>


@code {
    [SupplyParameterFromForm]
    public CategoryModel Category { get; set; } = new();

    private ConfirmDialog dialog;

    [Parameter]
    public Action? OnAdd { get; set; }

    private async Task HandleSubmit()
    {
        
        var confirmation = await dialog.ShowAsync(

         title: "Are you sure you want to add?",
         message1: "Y/N"
     );

        if (confirmation)
        {
            await manager._categoryRepository.AddCategoryAsync(Category);
            navManager.NavigateTo("Admin/Category/CategoryPage", true);

        }
    }
}
