@inject AdminManager manager

<h3>Create a category</h3>

<EditForm Model="Category" OnSubmit="HandleSubmit" FormName="Name" class="card w-50">

    <label>
        Name
    </label>

    <InputText @bind-Value="Category.Name"></InputText>

    <label>
        Description
    </label>

    <InputText @bind-Value="Category.Description"></InputText>

    <input type="submit" value="Create a category" />

</EditForm>


@code {
    [SupplyParameterFromForm]
    public CategoryModel Category { get; set; } = new();

    private async Task HandleSubmit()
    {
        await manager._categoryRepository.AddCategoryAsync(Category);
    }
}
