@page "/Admin/Category/CategoryPage"
@attribute [Authorize(Roles = "Admin")]
@inject AdminManager manager
@rendermode InteractiveServer

<h3>Categories: </h3>

@if(Categories == null)
{
    <h3>Loading...</h3>
}
else
{

    <div class="flex-column">

        @foreach (var category in Categories)
        {
            <Category CurrentCategory="@category" OnDelete="async () => await OnChange()"></Category>
        }

        <AddCategoryForm OnAdd="async () => await OnChange()"></AddCategoryForm>

    </div>

}



@code {
    List<CategoryModel> Categories = new();

    protected override async Task OnInitializedAsync()
    {
        Categories = await manager._categoryRepository.GetAllCategoriesWithInclude();
    }

    private async Task OnChange()
    {
        Categories = await manager._categoryRepository.GetAllCategoriesWithInclude();
        StateHasChanged();
    }
}
