@page "/Admin/Category/CategoryPage"
@attribute [Authorize(Roles = "Admin")]
@inject AdminManager manager
@attribute [StreamRendering(true)]


<h3>Categories: </h3>

@if(categories == null)
{
    <h3>Loading...</h3>
}
else
{

    <div class="flex-column">

        @foreach (var category in categories)
        {
            <Category CurrentCategory="@category"></Category>
        }

        <AddCategoryForm></AddCategoryForm>

    </div>

}



@code {
    List<CategoryModel> categories = new();

    protected override async Task OnInitializedAsync()
    {
        categories = await manager._categoryRepository.GetAllCategoriesWithInclude();
    }
}
