@page "/Admin/Category/CategoryPage"
@attribute [Authorize(Roles = "Admin")]
@inject AdminManager manager
@rendermode InteractiveServer

@if(Categories == null)
{
    <h3>Loading...</h3>
}
else
{
     <div class="container">

        <div class="row">

           <div class="col-sm category">

                <h3>Categories: </h3>

                @foreach (var category in Categories)
                {
                    <Category CurrentCategory="@category" OnDelete="async () => await OnChange()"></Category>
                }

           </div>

           <div class="col-sm">

                <AddCategoryForm OnAdd="async () => await OnChange()"></AddCategoryForm>

            </div>

        </div>

    </div>
    
}


@code {
    List<CategoryModel> Categories = new();

    protected override async Task OnInitializedAsync()
    {
        Categories = await manager._categoryRepository.GetAllCategoriesWithInclude();
    }

    private async Task OnChange()
    {
        Categories = await manager._categoryRepository.GetAllCategoriesWithInclude();
        StateHasChanged();
    }
}

<style>

    h3 {
        font-weight: bold;
    }
    .container{
        font-family: 'Trebuchet MS';
    }

</style>