@page "/AdminPage"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveAuto

<h1>AdminPage</h1>
<h2>detta är bara för Admins</h2>

<AuthorizeView>
    Hello @context.User.Identity?.Name!
</AuthorizeView>


@code {


}
