@page "/CategoryPage"
@using ValhallaVaultCyberAwareness.Client.Services
@using ValhallaVaultCyberAwareness.Domain.Models
@inject ISegmentService SegmentService
@inject ISubCategoryService SubCategoryService
@inject NavigationManager NavigationManager
@inject ICategoryRepository CategoryRepo
@attribute [StreamRendering]

<h1>Category page</h1>

@if (categories == null)
{
    <p>Loading...</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in categories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<CategoryModel>? categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryRepo.GetAllCategoriesAsync();
    }

}
q