@inject NavigationManager NavigationManager
@inject ICategoryRepository CategoryRepo
@attribute [StreamRendering]
@rendermode InteractiveServer

    @page "/Hem"

<h3>VVCA</h3>

<input type="text" @bind="searchTerm" placeholder="Sök kategori..." />
<button @onclick="Search">Sök</button>

    @if (categories == null)
{
    <p>Loading...</p>
}
else if (searchPerformed && filteredCategories.Count == 0)
{

    <p>Kategorin hittades inte.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in filteredCategories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td><a href="@($"/CategoryPage")">@category.Name</a></td>
                </tr>
            }
        </tbody>
    </table>
}

<style>
    .progress {
        margin-bottom: 20px; 
        width: 50%; 
    }
</style>

<div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar"
         aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
        Att skydda sig mot bedrägerier
    </div>
</div>

<div class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
         aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
        Cybersäkerhet för företag
    </div>
</div>

<div class="progress">
    <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
         aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
        Cyberspionage
    </div>
</div>




@code {
    private List<CategoryModel>? categories;
    private List<CategoryModel> filteredCategories = new List<CategoryModel>();
    private string searchTerm = "";
    private bool searchPerformed = false;

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryRepo.GetAllCategoriesAsync();
        filteredCategories = categories;
    }

    private void FilterCategories()
    {
        if (!string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredCategories = categories.Where(c => c.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
        }
        else
        {
            filteredCategories = categories;
        }
    }

    private async Task Search()
    {
        if (string.IsNullOrWhiteSpace(searchTerm))
        {

            Console.WriteLine("Vänligen ange en sökterm.");
        }
        else
        {
            FilterCategories();
            searchPerformed = true;
        }
        StateHasChanged();
    }
}