@page "/Home"
@using ValhallaVaultCyberAwareness.Client.Services
@using ValhallaVaultCyberAwareness.Domain.Models
@inject ICategoryService CategoryService

<h2>Search Categories</h2>

<input type="text" @bind="searchTerm" placeholder="Enter search term" />
<button @onclick="Search">Search</button>

@if (categories == null)
{
    <p>Loading....</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in filteredCategories)
            {
                <tr>
                    <td>@category.Id</td>
                    <td>@category.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code{

    List<CategoryModel> categories;
    List<CategoryModel> filteredCategories;
    string searchTerm;

    protected override async Task OnInitializedAsync()
    {
        categories = await CategoryService.GetAllCategoriesAsync();
        filteredCategories = categories;
    }

    private void Search()
    {
        if(string.IsNullOrWhiteSpace(searchTerm))
        {
            filteredCategories = categories;
        }
        else
        {
            filteredCategories = categories.Where(c => c.Name.Contains(searchTerm, StringComparison.OrdinalIgnoreCase) || c.Description.Contains(searchTerm, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }
}

