@inject NavigationManager NavigationManager 
@rendermode InteractiveServer
@attribute [Authorize]
@page "/UserPage"
@using Microsoft.AspNetCore.Authorization

<h1>Want To Change Email or Password?</h1>

<button @onclick="UserChangeEmail"> Change Email </button>

<button @onclick="ChangePassword">Change Password</button>

@code {

    private void UserChangeEmail() 
    {
        NavigationManager.NavigateTo("/UserChangeEmail");
    }

    private void ChangePassword()
    {
       NavigationManager.NavigateTo("/UserChangePassword");
    }
}
