@inject NavigationManager NavigationManager


@page "/WelcomePage"

<img src="Images/Logo.jpg" alt="Logotyp" style="width:300px; height:300px">
<h1> Key to Valhalla or Success</h1>

<NavLink href="Account/Register">
  <button>Register</button>
</NavLink>

<NavLink href ="Account/Login">
<button>Login</button>    
</NavLink>

@code {

}
