@inject NavigationManager NavigationManager
@inject ISegmentRepository segmentRepository;


@page "/"
@using ValhallaVaultCyberAwareness.Domain.Models
@using ValhallaVaultCyberAwareness.Repositories;
@using ValhallaVaultCyberAwareness.Repositories.Interfaces

<img src="Images/centered.png" alt="Logotyp" style="width:300px; height:300px">
<h1> Key to Valhalla or Success</h1>

<NavLink href="Account/Register">
  <button>Register</button>
</NavLink>

<NavLink href ="Account/Login">
<button>Login</button>    
</NavLink>

@code {


}
